@import "../../index.scss";

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

// LEFT BOX

.leftBox {
  aspect-ratio: 1/1;
  background-color: $green;
  position: relative;

  .circle {
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    animation: 6s infinite forwards rotate;
    animation-timing-function: cubicBezier(0.35, 0.17, 0.3, 0.86);

    .inner {
      position: absolute;
      transform: translate(53%, 46%);
      height: 92%;
      width: 92%;

      .line {
        aspect-ratio: 1/3;
        background-color: $black;
        position: absolute;
        transform-origin: 50% 100%;
        width: 3%;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(120deg);
  }
  66% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// RIGHT BOX

.rightBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2% 0;

  .bar {
    background-color: $yellow;
    position: relative;
    height: 12%;
    width: 100%;

    &::before {
      animation-timing-function: ease-in-out;
      content: "";
      display: block;
      background-color: $black;
      border-radius: 50%;
      height: 140%;
      position: absolute;
      aspect-ratio: 1/1;
      top: -20%;
    }
  }

  .bar:first-of-type::before {
    animation: 3s infinite alternate dotSlide1;
  }

  .bar:nth-of-type(2)::before {
    animation: 3s infinite alternate dotSlide2;
  }

  .bar:nth-of-type(3)::before {
    animation: 3s infinite alternate dotSlide3;
  }

  .bar:nth-of-type(4)::before {
    animation: 3s infinite alternate dotSlide4;
  }
}

@keyframes dotSlide1 {
  0% {
    left: 70%;
  }
  80% {
    left: 35%;
  }
  100% {
    left: 35%;
  }
}

@keyframes dotSlide2 {
  0% {
    left: 10%;
  }
  80% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}

@keyframes dotSlide3 {
  0% {
    left: 40%;
  }
  80% {
    left: 85%;
  }
  100% {
    left: 85%;
  }
}

@keyframes dotSlide4 {
  0% {
    left: 80%;
  }
  80% {
    left: 10%;
  }
  100% {
    left: 10%;
  }
}
