@import "../../index.scss";

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

// LEFT BOX

.leftBox {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
}

.leftTop {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 50%;
  width: 100%;

  .circle {
    aspect-ratio: 1/1;
    background-color: $red;
    border-radius: 50%;
    height: 100%;
    transform: translateY(50%);
    animation: 2s infinite alternate hideCircle;
    animation-timing-function: ease-in-out;
  }
}

.leftBottom {
  background-color: $blue;
  overflow: hidden;
  position: relative;
  height: 50%;
  width: 100%;

  .circle {
    aspect-ratio: 1/1;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;

    & > div {
      border-radius: 50%;
      position: absolute;
      height: 100%;
      width: 100%;
    }

    & > div:first-of-type {
      background-color: $blue;
      transform: scale(0.8);
    }

    & > div:nth-child(2) {
      background-color: $white;
      transform: scale(0.6);
    }

    & > div:nth-child(3) {
      background-color: $blue;
      transform: scale(0.4);
    }

    & > div:nth-child(4) {
      background-color: $white;
      transform: scale(0.2);
    }
  }
}

@keyframes hideCircle {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(110%);
  }
}

// CENTER BOX

.centerBox {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
  }

  &::before {
    background-color: $red;
    left: 0;
  }

  &::after {
    background-color: $yellow;
    right: 0;
  }
}

.eye {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  aspect-ratio: 1/1;
  width: 60%;
  z-index: 2;
  border-radius: 100% 0px;
  transform: rotate(45deg);
  overflow: hidden;

  &::before {
    content: "";
    background-color: $black;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 100% 0px;
    z-index: 2;
    animation: 3s infinite alternate closeEyelid ease-in-out;
  }

  .pupil {
    aspect-ratio: 1/1;
    background-color: $blue;
    border-radius: 50%;
    height: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 3s infinite alternate slidePupil linear;

    &::before {
      content: "";
      aspect-ratio: 1/1;
      background-color: $black;
      border-radius: 50%;
      display: block;
      height: 35%;
    }
  }
}

@keyframes closeEyelid {
  0% {
    transform: translate(-45%, -45%)
  }
  40% {
    transform: translate(-45%, -45%)
  }
  50% {
    transform: translate(0%);
  }
  60% {
    transform: translate(-45%, -45%)
  }
  100% {
    transform: translate(-45%, -45%)
  }
}

@keyframes slidePupil {
  0% {
    transform: translate(20%, -20%);
  }
  20% {
    transform: translate(0%);
  }
  50% {
    transform: translate(0%);
  }
  80% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-20%, 20%);
  }
}

// RIGHT BOX

.rightBox {
  aspect-ratio: 1/1;
  background-color: $green;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  .top,
  .bottom {
    aspect-ratio: 1/1;
    background-color: $coral;
    grid-area: 1/1;
    align-self: center;
    justify-self: center;
    width: 68%;
  }

  .top {
    clip-path: circle(50% at 0 50%);
    transform: rotate(90deg) translateX(4%);
    animation: 1.5s infinite alternate slideTop;
    animation-timing-function: ease-in-out;
  }

  .bottom {
    clip-path: circle(50% at 100% 50%);
    transform: rotate(90deg) translateX(-4%);
    animation: 1.5s infinite alternate slideBottom;
    animation-timing-function: ease-in-out;
  }
}

@keyframes slideTop {
  0% {
    transform: rotate(90deg) translateX(4%);
  }
  80% {
    transform: rotate(90deg) translateX(calc(50% - 1px));
  }
  100% {
    transform: rotate(90deg) translateX(calc(50% - 1px));
  }
}

@keyframes slideBottom {
  0% {
    transform: rotate(90deg) translateX(-4%);
  }
  80% {
    transform: rotate(90deg) translateX(-50%);
  }
  100% {
    transform: rotate(90deg) translateX(-50%);
  }
}
